@font-face {
  font-family: "y2k-font";
  src: url(../assets/fonts/Synkopy-Regular.otf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body.uploadBody {
  background-image: url(../assets/main-bg-5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin: 0 auto;
  font-family: y2k-font;
}

.intro {
  font-size: 28px;
  text-align: center;
  margin-top: 30px;
  color: #167d94;
  text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}

.introText {
  text-align: center;
  margin: 0 auto;
  width: 70%;
  color: #167d94;
}

.fileSubmitForm {
  margin-top: 50px;
  text-align: center;
  color: whitesmoke;
}

.fileUpload {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  color: #167d94;
  text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}

.wrappedUpload {
  margin-top: 25px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.wrappedSubmit {
  height: 175px;
  width: auto;
  margin-top: 75px;
  border: none;
  background: transparent;
  transition: opacity 0.3s ease;
}

.wrappedSubmit:hover {
  cursor: pointer;
  opacity: 0.7;
}

.wrappedSubmit img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.error {
  color: whitesmoke;
}

.bottomDisplay {
  margin-top: 50px;
  text-align: center;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px;
  margin: 35px;
  display: none;
}

.nextBtn {
  height: 125px;
  width: auto;
  border: none;
  background: transparent;
  transition: opacity 0.3s ease;
}

.nextBtn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.nextBtn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.rank {
  font-weight: bold;
  font-size: 24px;
}

.section,
.summary {
  padding: 20px;
  margin: 10px;
  font-size: 24px;
}

.loading-svg {
  width: 100px;
  height: 100px;
  margin: 15px auto;
  display: block;
}

.artist-info,
.song-info,
.album-info {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 20px;
}
