body.uploadBody {
  background-color: cornflowerblue;
  display: block;
  margin: 0 auto;
}

.intro {
  font-size: 28px;
  text-align: center;
  margin-top: 30px;
}

.introText {
  text-align: center;
  margin: 0 auto;
  width: 70%;
}

.fileSubmitForm {
  margin-top: 50px;
  text-align: center;
}

.fileUpload {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.wrappedUpload {
  margin-top: 25px;
  font-size: 16px;
  text-align: center;
}

.wrappedSubmit {
  margin-top: 35px;
  height: 50px;
  width: 150px;
  border-radius: 45px;
  text-align: center;
}
