@font-face {
  font-family: "y2k-font";
  src: url(../assets/fonts/Synkopy-Regular.otf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body.uploadBody {
  background-image: url(../assets/main-bg-5-blur.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin: 0 auto;
  font-family: y2k-font;
}

.intro {
  font-size: 28px;
  text-align: center;
  margin-top: 30px;
  color: #167d94;
  padding: 5px;

  -webkit-text-stroke: 5px transparent;
  paint-order: stroke fill;
  background: url("../assets/holo-texture.jpg");
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;

  filter: drop-shadow(3px 3px rgba(255, 255, 255, 0.5));
}

.introText {
  text-align: center;
  margin: 0 auto;
  width: 70%;
  color: #167d94;
}

.fileSubmitForm {
  margin-top: 50px;
  text-align: center;
  color: whitesmoke;
}

.fileUpload {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  color: #167d94;
  padding: 5px;

  -webkit-text-stroke: 5px transparent;
  paint-order: stroke fill;
  background: url("../assets/holo-texture.jpg");
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;

  filter: drop-shadow(3px 3px 6px rgba(255, 255, 255, 0.5));
}

.wrappedUpload {
  margin-top: 25px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.wrappedSubmit {
  height: 175px;
  width: auto;
  margin-top: 75px;
  border: none;
  background: transparent;
  transition: opacity 0.3s ease;
}

.wrappedSubmit:hover {
  cursor: pointer;
  opacity: 0.7;
}

.wrappedSubmit img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.error {
  color: whitesmoke;
}

.bottomDisplay {
  margin-top: 50px;
  text-align: center;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px;
  margin: 35px;
  display: none;
}

.nextBtn {
  visibility: hidden;
  height: 100px;
  width: auto;
  border: none;
  background: transparent;
  position: fixed;
  bottom: 7%;
  right: 5%;
  transition: opacity 0.3s ease;
}

.summary-title {
  font-size: 45px;

  -webkit-text-stroke: 5px transparent;
  paint-order: stroke fill;
  background: url("../assets/holo-texture.jpg");
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;

  filter: drop-shadow(3px 3px rgba(255, 255, 255, 0.5));
}

summary-text {
  font-size: 30px;

  -webkit-text-stroke: 5px transparent;
  paint-order: stroke fill;
  background: url("../assets/holo-texture.jpg");
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;

  filter: drop-shadow(3px 3px rgba(255, 255, 255, 0.5));
}

.nextBtn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.nextBtn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.backBtn {
  visibility: hidden;
  height: 100px;
  width: auto;
  border: none;
  background: transparent;
  position: fixed;
  bottom: 7%;
  left: 5%;
  transition: opacity 0.3s ease;
}

.backBtn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.backBtn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.rank {
  font-weight: bold;
  font-size: 24px;
}

.section,
.summary {
  padding: 20px;
  margin: 10px;
  font-size: 24px;
}

.loading-svg {
  width: 100px;
  height: 100px;
  margin: 15px auto;
  display: block;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  color: #1a92ad;
  text-shadow:
    0 0 0 rgb(128, 128, 0),
    0 0 0 rgb(34, 95, 72),
    0 0 0 rgb(0, 117, 129);
  font-size: 45px;
  animation: l32 1s infinite cubic-bezier(0.5, -2000, 0.5, 2000);
  display: block;
  margin: 15px auto;
}
.loader:before {
  content: "Loading...";
}

@keyframes l32 {
  25%,
  100% {
    text-shadow:
      0.03px -0.01px 0.01px rgb(128, 128, 0),
      0.02px 0.02px 0 rgb(34, 95, 72),
      -0.02px 0.02px 0 rgb(0, 117, 129);
  }
}

.resultsContainer {
  min-height: 700px;
  padding: 50px;
}

.artist-info,
.song-info,
.album-info {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.list-item:nth-child(1) .rank {
  color: rgb(238, 194, 0);
  font-size: 65px;
}
.list-item:nth-child(2) .rank {
  color: rgb(104, 104, 104);
  font-size: 55px;
}
.list-item:nth-child(3) .rank {
  color: #8d5b1a;
  font-size: 45px;
}
.list-item .rank {
  font-size: 30px;
}
