body.uploadBody {
  background-color: cornflowerblue;
  display: block;
  margin: 0 auto;
}

.intro {
  font-size: 28px;
  text-align: center;
  margin-top: 30px;
}

.introText {
  text-align: center;
  margin: 0 auto;
  width: 70%;
}

.fileSubmitForm {
  margin-top: 50px;
  text-align: center;
}

.fileUpload {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.wrappedUpload {
  margin-top: 25px;
  font-size: 16px;
  text-align: center;
}

.wrappedSubmit {
  margin-top: 35px;
  height: 50px;
  width: 150px;
  border-radius: 45px;
  text-align: center;
}

.bottomDisplay {
  margin-top: 50px;
  text-align: center;
  background-color: lightslategray;
  padding: 30px;
  margin: 35px;
  border: 5px solid rgb(0, 0, 0);
  border-style: ridge;
  display: none;
}

.rank {
  font-weight: bold;
  font-size: 24px;
}

.section,
.summary {
  border: 5px solid rgba(0, 0, 0, 0.534);
  padding: 20px;
  margin: 10px;
  background-color: rgb(158, 170, 182);
}

.loading-svg {
  width: 100px;
  height: 100px;
  margin: 15px auto;
  display: block;
}

.artist-info,
.song-info,
.album-info {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 20px;
}
