<!doctype html>
<html>
  <head>
    <title>Foobar Wrapped</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link rel="icon" href="data:," />
  </head>

  <body class="uploadBody">
    <div class="topUpload">
      <div class="intro">
        <h1>Foobar2000 Wrapped</h1>
        <p class="introText">
          Welcome to Foobar2000 Wrapped. Get detailed information on your local
          listening habits.
          <br />
        </p>
      </div>

      <form
        action="/"
        method="POST"
        enctype="multipart/form-data"
        id="fileSubmitForm"
        class="fileSubmitForm"
      >
        <div>
          <label for="fileUpload" class="fileUpload"
            >Upload your exported .xml file here:
          </label>
          <br />
          <input
            type="file"
            id="fileUpload"
            name="wrappedUpload"
            class="wrappedUpload"
            accept=".xml"
            required
          />
          <br />
          <button
            type="submit"
            id="wrappedSubmit"
            class="wrappedSubmit"
            name="wrappedSubmit"
          >
            <img
              src="{{ url_for('static', filename='assets/holo-start.png') }}"
              alt="Submit"
            />
          </button>
          <div
            id="loadingIndicator"
            style="display: none"
            class="loadingIndicator"
          >
            <img
              src="{{ url_for('static', filename='assets/loading.svg') }}"
              alt="Loading..."
              class="loading-svg"
            />
          </div>
        </div>
      </form>
    </div>

    <div class="bottomDisplay" id="bottomDisplay">
      <div class="resultsContainer" id="resultsContainer"></div>
      <button id="myButton">Next Page -></button>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
